<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsCheck" version="0.8.3.0" targetFramework="net40" />
  <package id="FsCheck.Xunit" version="0.3.0.0" targetFramework="net40" />
  <package id="FsUnit.xUnit" version="1.1.0.1" targetFramework="net40" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
</packages>